@import "./themes.scss";

@media screen and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
      flex: 2;
      margin: 0px 50px;

      section {
        max-width: 800px;
        height: auto;
        margin: 50px auto;

        .resultsForm {
          @include font-size(0.6);
          overflow: auto;
        }

        #results {
          height: 50vh;
          border: 1px solid #545454;
          background-color: $yellow;
          @include border-radius(1);

          ul {
            padding: 25px 50px 75px;

            li {
              text-align: left;
              @include font-size(0.3);
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 901px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
      flex: 2;

      section {
        max-width: 800px;
        height: auto;
        margin: 50px auto;

        .resultsForm {
          @include font-size(0.8);
          overflow: auto;
        }

        #results {
          height: 50vh;
          border: 1px solid #545454;
          background-color: $yellow;
          border-radius: 25px;

          ul {
            padding: 25px 50px 75px;

            li {
              text-align: left;
              @include font-size(0.5);
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
