<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentence NLP</title>
    </head>

    <body>

        <header>
            <div>
                <img class="logo" src="../images/BHR logo.png" alt="site logo">
            </div>
            <div>
                <p>NLP Test</p>                    
            </div>
            <div>
                <nav class="navigation">                
                    <ul>
                        <li><a href="#submitForm">Submit</a></li>
                        <li><a href="#results">Results</a></li>
                    </ul>
                  </nav>
            </div>
        </header>

        <main>         

            <section>                
                <form id="submitForm" class="" onsubmit="return SubmitHandler(event)">
                    <p>Enter your sentence in the field below for sentiment analysis:</p>                    
                    <input id="text" type="text" name="input" value="" placeholder="Start typing here">
                    <input type="submit" name="" value="Submit" onclick="return Client.SubmitHandler(event)" onsubmit="return SubmitHandler(event)">
                </form>
            <section>

            <section class="resultsForm">
                <p>Sentiment Results:</p>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>&copy;2020 Matthew Lopez</p>
        </footer>

    </body>
</html>
