<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentence NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>

            <p>
                Enter your sentence in the field below for sentiment analysis:
            </p>

            <section>
                <form class="" onsubmit="return SubmitHandler(event)">
                    <input id="text" type="text" name="input" value="" placeholder="Start typing here">
                    <input type="submit" name="" value="submit" onclick="return Client.SubmitHandler(event)" onsubmit="return SubmitHandler(event)">
                </form>
            <section>

            <section>
                <strong>Sentiment Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
